/* General Style */
:root {
  --cerulean-blue-50: #f1f3fd;
  --cerulean-blue-100: #e0e4f9;
  --cerulean-blue-200: #c9d1f4;
  --cerulean-blue-300: #a3b3ed;
  --cerulean-blue-400: #788be2;
  --cerulean-blue-500: #5867d9;
  --cerulean-blue-600: #4249cc;
  --cerulean-blue-700: #3a3abb;
  --cerulean-blue-800: #373499;
  --cerulean-blue-900: #2f2f79;
  --cerulean-blue-950: #21204b;
  --text-dark: #171717;
}

* {
  font-family: "Poppins", sans-serif;
  color: var(--text-dark);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 16px;
  position: relative;
  overflow-x: hidden;
}

.title {
  font-size: 2.2em;
}

.subtitle {
  font-size: 1em;
  font-weight: 200;
}

#static-web.index-page,
#dynamic-web.index-page {
  display: none;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 10%;
  background-color: transparent;
  min-height: 5em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: top 0.3s ease;
  z-index: 9999;
}

#nav.show {
  top: 0;
}

#nav.hide {
  top: -100px;
}

.logo-img {
  width: 100px;
}

nav ul {
  display: flex;
  gap: 2em;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  transition: 0.2s;
}

nav ul li a:not(.nav-cta-button)::after {
  content: "";
  display: block;
  margin-top: 5px;
  height: 1px;
  background-color: var(--cerulean-blue-600);
  border-radius: 5px;
  transition: 0.2s;
  transform: scaleX(0);
}

nav ul li a:hover {
  color: var(--cerulean-blue-600);
}

nav ul li a:not(.nav-cta-button):hover::after {
  transform: scaleX(0.7);
}

.nav-cta-button {
  padding: 0.5em 1.3em;
  background-color: transparent;
  border: 1px solid var(--cerulean-blue-500);
  border-radius: 2px;
}

.nav-cta-button:hover {
  background-color: var(--cerulean-blue-600);
  color: var(--cerulean-blue-50);
}

.hamburger-menu {
  position: relative;
  flex-direction: column;
  gap: 5px;
  display: none;
  /* display: flex; */
  cursor: pointer;
}

.hamburger-menu div {
  width: 20px;
  height: 2px;
  background-color: var(--cerulean-blue-950);
  border-radius: 20px;
}

.close-button {
  display: none;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  text-align: center;
  height: 45px;
  width: 45px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 100%;
  transition: 0.3s;
  font-size: 1.5em;
  text-align: center;
  margin-top: 2em;
}

/* Hero */
#hero {
  padding: 2em 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  min-height: 100vh;
  flex-wrap: wrap;
}

.hero-text-wrapper {
  flex: 2;
}

.hero-text-wrapper h3 {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.2;
}

.hero-text-wrapper .subtitle {
  font-weight: lighter;
  margin-top: 0.2em;
}

.hero-cta-wrapper {
  display: flex;
  gap: 10px;
}

.hero-cta-contact {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  padding: 0.8em 2em;
  text-decoration: none;
  text-align: center;
  transition: 0.2s ease-in;
  border-radius: 2px;
  border: 1px solid var(--cerulean-blue-500);
  background-color: var(--cerulean-blue-500);
}

.hero-cta-contact:hover {
  background-color: var(--cerulean-blue-600);
  border: 1px solid var(--cerulean-blue-600);
}

.hero-cta-contact-text,
.hero-cta-contact-icon {
  color: var(--cerulean-blue-50);
}

.hero-img-wrapper {
  flex: 1;
  position: relative;
}

.hero-img {
  width: 100%;
  display: block;
  margin: auto;
}

.hero-img-credit {
  position: absolute;
  bottom: 25%;
  right: 25%;
  text-align: center;
  font-size: 0.6em;
  background-color: var(--cerulean-blue-50);
  padding: 1em;
  border-radius: 10px;
  transition: 0.3s;
  opacity: 0;
}

.hero-img-wrapper:hover .hero-img-credit {
  opacity: 1;
}

/* SERVICES */
#services {
  padding: 3em 10% 1em;
  background-color: var(--cerulean-blue-50);
}

#services .title,
#services .subtitle {
  text-align: center;
}

.services-cards {
  margin-block: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.service-card {
  padding: 1em;
  border-radius: 5px;
  display: grid;
  justify-items: center;
  text-align: center;
  grid-template-rows: repeat(3, 1fr);
  transform: translate(0, -50px);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.service-card.show {
  transform: translate(0, 0);
  opacity: 1;
}

.service-card-title {
  font-size: 1.5em;
  padding-block: 0.8em;
}

.service-card-subtitle {
  font-size: 1.1em;
  font-weight: 200;
  line-height: 1.5;
}

.service-icon-wrapper {
  display: grid;
  place-items: center;
  width: 70px;
  height: 70px;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--cerulean-blue-600);
}

.service-icon {
  width: 40px;
  height: 40px;
  display: block;
}

/* WORKS */
#works {
  padding: 3em 10%;
}

#works .title,
#works .subtitle {
  text-align: center;
}

.work-cards {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.3em;
  justify-content: center;
}

.work-card {
  border: 1px solid var(--cerulean-blue-950);
  border-radius: 1px;
  overflow: hidden;
  position: relative;
  height: 300px;
  font-size: 85%;
  transform: translate(0, -50px);
  opacity: 0;
  transition: 0.3s ease-in-out;
  max-width: 400px;
  min-width: 100%;
  margin-inline: auto;
  cursor: pointer;
}

.work-card.show {
  transform: translate(0, 0);
  opacity: 1;
}

.work-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 0;
  transition: 0.5s ease-in-out;
}

.work-card-img-wrapper {
  height: 100%;
}

.work-card-text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
  backdrop-filter: blur(1px);
  background: rgb(33, 32, 75, 0.8);
  padding: 1em 2.5em 2.5em;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.work-card-text-wrapper * {
  color: #fff;
}

.work-card:hover .work-card-text-wrapper {
  opacity: 1;
}

.work-card:hover .work-card-img {
  scale: 1.2;
  filter: grayscale(1);
}

.work-card-name h3 {
  font-size: 1.5em;
}

/* Modal Box */
.html-modal-open {
  overflow: hidden;
}

.modal {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 1em auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
}

#modalImageContainer {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow-y: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

#modalImage {
  width: 100%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--cerulean-blue-600);
  text-decoration: none;
  cursor: pointer;
}

#modalDescription {
  margin-bottom: 1em;
  text-align: center;
}

.modal-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 3em;
}

.modal-cta a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: 120px;
  text-align: center;
  padding: 10px;
  background-color: var(--cerulean-blue-500);
  border: 1px solid var(--cerulean-blue-500);
  text-decoration: none;
  border-radius: 2px;
  transition: 0.3s;
}

.modal-cta a span,
.modal-cta a i {
  color: var(--cerulean-blue-50);
}

.modal-cta a:hover span,
.modal-cta a:hover i {
  color: var(--cerulean-blue-50);
}

.modal-cta a:last-child {
  background-color: transparent;
}

.modal-cta a:last-child span,
.modal-cta a:last-child i {
  color: var(--cerulean-blue-500);
}

.modal-cta a:hover {
  background-color: var(--cerulean-blue-600);
}

.modal-cta a:last-child:hover span,
.modal-cta a:last-child:hover i {
  color: var(--cerulean-blue-50);
}

.works-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  margin: auto;
  width: fit-content;
  margin-top: 3em;
  background-color: transparent;
  padding: 1em 2em;
  border-radius: 2px;
  border: 1px solid var(--cerulean-blue-500);
  color: var(--cerulean-blue-500);
  transition: 0.2s ease-in;
}

.works-cta-icon {
  color: var(--cerulean-blue-500);
}

.works-cta:hover {
  color: var(--cerulean-blue-50);
  border: 1px solid var(--cerulean-blue-600);
  background-color: var(--cerulean-blue-600);
}

.works-cta:hover .works-cta-icon {
  color: var(--cerulean-blue-50);
}

/* ABOUT */
#about {
  padding: 4em 10%;
  background-color: var(--cerulean-blue-50);
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  flex-wrap: wrap;
}

#about .title {
  flex: 1;
  width: fit-content;
  text-wrap: nowrap;
}

.about-text {
  flex: 2;
  transform: translate(100px, 0);
  opacity: 0;
  transition: 0.5s ease-in-out;
  line-height: 2;
}

.about-text.show {
  transform: translate(0, 0);
  opacity: 1;
}

#tools {
  padding: 3em 10%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background-color: var(--cerulean-blue-100);
  gap: 20px;
}

#tools .title {
  flex: 1;
  text-align: right;
}

.tools-icon-wrapper {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  gap: 30px;
}

.tool-icon-wrapper {
  width: 70px;
  height: 70px;
  perspective: 1000px;
}

.icon-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.tool-icon-wrapper:hover .icon-inner {
  transform: rotateY(180deg);
}

.icon-front,
.icon-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.icon-front {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-back {
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transform: rotateY(180deg); /* Memutar kartu ke belakang */
  font-size: 10px;
}

.tool-icon {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#contact {
  padding: 4em 10%;
}

#contact .title,
#contact .subtitle {
  text-align: center;
}

.alert {
  background-color: var(--cerulean-blue-100);
  margin: 3em 0 1em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
}

.alert i {
  cursor: pointer;
  color: var(--cerulean-blue-500);
  transition: 0.5s;
}

.alert i:hover {
  color: var(--cerulean-blue-600);
}

#form {
  margin-top: 3em;
}

#form .form-inputs {
  display: flex;
  gap: 20px;
}

#form .form-inputs .col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#form .form-control {
  position: relative;
  padding-bottom: 30px;
  flex: 1;
}

#form label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid var(--cerulean-blue-900);
}

#form textarea {
  height: 90%;
}

.form-control input:focus-visible,
.form-control textarea:focus-visible {
  outline: none;
  box-shadow: 0 0 25px 1px var(--cerulean-blue-100);
}

.form-control i {
  position: absolute;
  top: 42px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  position: absolute;
  bottom: 10px;
  left: 0;
  visibility: hidden;
}

.form-control.success i.ok-icon {
  visibility: visible;
  color: var(--cerulean-blue-900);
}

.form-control.success input,
.form-control.success textarea {
  border: 1pt solid var(--cerulean-blue-900);
}

.form-control.error i.fail-icon,
.form-control.error small {
  visibility: visible;
  color: #ff4444;
}

.form-control.error input,
.form-control.error textarea {
  border: 1pt solid #ff4444;
}

.btn-submit,
.btn-loading {
  display: block;
  margin-inline: auto;
  margin-top: 2em;
  background-color: transparent;
  border: 1px solid var(--cerulean-blue-500);
  color: var(--cerulean-blue-500);
  padding: 10px 30px;
  border-radius: 2px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.btn-submit:hover {
  color: var(--cerulean-blue-50);
  background-color: var(--cerulean-blue-600);
}

footer {
  padding: 2em 10%;
  background: linear-gradient(
    135deg,
    var(--cerulean-blue-100),
    var(--cerulean-blue-200),
    var(--cerulean-blue-300) 90%
  );
  display: grid;
  grid-template-areas:
    "nav socials"
    "logo socials";
  justify-content: space-between;
  align-items: center;
}

footer a {
  text-decoration: none;
}

.footer-nav {
  grid-area: nav;
}

.footer-nav ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

.footer-nav ul li a {
  display: inline-block;
  font-size: 80%;
  margin-bottom: 1.5em;
}

.footer-nav ul li a::after {
  content: "";
  display: block;
  height: 1px;
  transform: scaleX(0);
  background-color: var(--cerulean-blue-600);
  transition: 0.2s ease-in;
}

.footer-nav ul li a:hover::after {
  transform: scaleX(0.7);
}

.footer-logo {
  grid-area: logo;
}

.footer-socials {
  grid-area: socials;
  display: flex;
  gap: 2em;
}

.footer-socials a {
  font-size: 2em;
}

.footer-socials a i {
  transition: 0.2s ease-in;
}

.footer-socials a i:hover {
  color: #fff;
}

/* Portfolio Page */
#logo a {
  text-decoration: none;
}
#portfolio-nav {
  justify-content: center;
  position: absolute;
}
.header-portfolio {
  padding: 8em 10% 4em;
  background: url(../img/bg-subpages.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 50vh;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.nav-category {
  margin: 1.5em 10%;
  display: flex;
  gap: 1em;
}
.nav-category-link {
  text-decoration: none;
  padding: 10px 15px;
  border: 0.5pt solid var(--cerulean-blue-600);
  border-radius: 2px;
  cursor: pointer;
}
.nav-category-link.active {
  background-color: var(--cerulean-blue-600);
  color: var(--cerulean-blue-50);
}
.work-cards.portfolio-page {
  margin: 1em 10% 2em;
  grid-template-columns: repeat(3, 1fr);
  justify-content: start;
}
.work-cards.portfolio-page .work-card {
  max-width: 300px;
}

@media screen and (min-width: 1512px) {
  nav,
  body {
    font-size: 120%;
    max-width: 1512px;
    margin-inline: auto;
  }

  nav {
    padding: 0;
    padding-inline: 10px;
  }

  #hero {
    min-height: 40vh;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  nav {
    background-color: #fff;
    backdrop-filter: blur(0px);
    background: linear-gradient(
      30deg,
      var(--cerulean-blue-50) 20%,
      var(--cerulean-blue-100) 40%,
      var(--cerulean-blue-200) 100%
    );
    overflow: hidden;
  }

  .logo-img {
    width: 50px;
  }

  nav ul {
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background: rgb(89, 229, 164);
    background: linear-gradient(
      45deg,
      var(--cerulean-blue-50) 0%,
      var(--cerulean-blue-100) 10%,
      var(--cerulean-blue-200) 100%
    );
    height: 100vh;
    padding: 9em 1em 0;
    z-index: 999;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s;
  }

  nav.open ul {
    transform: translateX(0);
    opacity: 1;
    box-shadow: -2px 0 25px 2px rgba(23, 23, 23, 0.2);
  }

  .close-button {
    display: flex;
  }

  .close-button i {
    color: var(--cerulean-blue-950);
    font-size: small;
  }

  .close-button:hover {
    background-color: var(--cerulean-blue-600);
  }

  .close-button:hover i {
    color: var(--cerulean-blue-50);
  }

  nav ul li a {
    text-align: center;
    display: block;
    padding: 0.5em 1.3em;
  }

  nav ul li a:not(.nav-cta-button):hover::after {
    transform: scaleX(0.3);
  }

  .nav-cta-button:hover {
    background-color: var(--cerulean-blue-600);
  }

  nav ul li a:not(.nav-cta-button)::after {
    background-color: var(--cerulean-blue-600);
  }

  .hamburger-menu {
    display: flex;
  }

  #hero {
    flex-direction: column-reverse;
    padding-block: 7em 4em;
    min-height: unset;
  }

  #hero div {
    width: 100%;
  }

  .hero-img {
    width: 300px;
  }

  #services {
    padding-bottom: 0em;
  }

  .services-cards {
    margin-block: 3em;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: unset;
    gap: 0px;
  }

  .service-card {
    display: grid;
    align-items: center;
    grid-template-areas:
      "icon title"
      "icon subtitle";
    grid-template-columns: 1fr 5fr;
    column-gap: 2em;
    justify-items: start;
    text-align: left;
  }

  .service-icon-wrapper {
    grid-area: icon;
    width: 55px;
    height: 55px;
  }

  .service-card-title {
    grid-area: title;
    padding: 0;
    font-weight: 500;
  }

  .service-card-subtitle {
    grid-area: subtitle;
  }

  .service-icon {
    width: 30px;
    height: 30px;
  }

  .work-cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .work-card {
    height: 300px;
    font-size: 100%;
  }

  #modalImageContainer {
    max-height: 300px;
    overflow-y: hidden;
  }

  .modal-content {
    margin-top: 30%;
  }

  #about {
    flex-direction: column;
  }

  #about .title::after {
    margin-inline: auto;
  }

  .about-text {
    text-align: center;
  }

  #tools {
    flex-direction: column;
  }

  #tools .tools-icon-wrapper {
    flex: 1;
    width: 100%;
  }

  .tools-icon-wrapper {
    grid-template-columns: repeat(auto-fit, 70px);
    justify-content: center;
    gap: 20px;
  }

  .tool-icon {
    width: 80%;
    height: 80%;
    border-radius: 10px;
  }

  #form .form-inputs {
    flex-direction: column;
    gap: 0;
  }

  #form button#submit {
    margin-top: 2em;
    width: 100%;
  }

  #portfolio-nav {
    background: transparent;
  }

  .nav-category {
    flex-wrap: wrap;
  }

  .work-cards.portfolio-page {
    margin: 1em 10% 2em;
    grid-template-columns: repeat(2, 1fr);
    justify-content: start;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
  nav ul {
    width: 100%;
    height: calc(100vh + 10em);
    padding: 11em 1em 0;
  }
  .close-button {
    width: 30px;
    height: 30px;
  }
  #hero {
    min-height: unset;
    gap: 3em;
    padding-block: 8em 5em;
  }
  .hero-text-wrapper h2 span {
    display: none;
  }
  .hero-cta-wrapper {
    flex-direction: column;
    margin-top: 2em;
    gap: 5px;
  }
  .hero-cta-wrapper a {
    margin-top: 0;
  }
  .hero-img {
    width: 100%;
  }
  nav ul li a:not(.nav-cta-button):hover::after {
    transform: scaleX(0.1);
  }
  .work-cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
  }
  .work-card {
    height: 250px;
    font-size: 110%;
  }
  footer {
    grid-template-areas:
      "nav"
      "logo"
      "socials";
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  .footer-nav ul li a {
    margin-bottom: 0;
  }
  .footer-socials {
    justify-content: center;
    gap: 5px;
  }
  #form .form-control {
    padding-bottom: 25px;
  }
  .work-cards.portfolio-page {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.d-none {
  display: none;
}
