* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  font-size: 16px;
  background-color: #ffe9ac;
}

img {
  max-width: 100%;
  display: block;
}

main {
  width: 80%;
  max-width: 1000px;
  margin: 20px auto;
  background-color: white;
  padding-block: 15px;
}

#title,
#subtitle {
  text-align: center;
}

#image {
  margin: 20px auto 0px;
  height: auto;
  width: 100%;
  object-fit: cover;
}

#img-caption {
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 10px;
  text-align: center;
}

#tribute-info {
  padding: 1em 2em;
}

.tribute-title {
  text-align: center;
}

.tribute-timeline {
  margin: 1.5em auto;
  max-width: 600px;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.tribute-timeline span {
  width: 10%;
  min-width: fit-content;
  text-align: left;
}

.bold {
  font-weight: bold;
  color: rgb(170, 116, 0);
}

.tribute-quote {
  font-style: italic;
  margin-block: 4em 1em;
  text-align: center;
}

h4 {
  margin-top: 4em;
  text-align: center;
}
